<h1>Create an Order!</h1>
<form>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <label for="customer-name">Customer Name:</label>
        {{input class="form-control" value=customerName id="customer-name"}}
        <label for="blendChoice">Select Your Blend:</label>
        <br>
        {{#x-select id=blendChoice action='selectBlend'}}
          {{#each blends as |blendChoice|}}
            {{#x-option value=blendChoice}}
            {{blendChoice.name}}
            {{/x-option}}
          {{/each}}
        {{/x-select}}
        <br>
        <label for="blend-quantity">Enter the Quantity:</label>
        {{input type='number' class="form-control" value=quantity id="blend-quantity"}}
        <button class="btn btn-success order-button" {{action 'createOrder'}}>Create Order</button>
      </div>
    </div>
  </div>
</form>
