<h1>Create an Order!</h1>
<div class="form-group">
  <form>
    <label for="customer-name">Customer Name:</label>
    {{input class="form-control" value=customerName id="customer-name"}}
    <label for="blendChoice">Select Your Blend:</label>
    {{#x-select class='form-control' id=blendChoice action='selectBlend'}}
      {{#each blends as |blendChoice|}}
        {{#x-option value=blendChoice}}
        {{blendChoice.name}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}
    <label for="blend-quantity">Enter the Quantity:</label>
    {{input type='number' class="form-control" value=quantity id="blend-quantity"}}
    <button class="btn btn-danger order-button pull-right" {{action 'createOrder'}}>Create Order</button>
  </form>
</div>
