<div class="form-group">
  <div class="form-control">
    <select onchange={{action 'selectBlend' value='target.value'}}>
      {{#each model as |blendChoice|}}
        <option value={{blend}} selected={{eq blend blendChoice}}>{{blendChoice}}</option>
      {{/each}}
    </select>
  </div>
</div>
