<h1>Roast Some Beans</h1>
<label id="roastTopMarg" for="roastBeans">Select Your Roast:</label>
<form class="form-group" action="index.html" method="post">
  {{#x-select class="form-control" action="pickToRoast" as |xs|}}
    {{#each roasteds as |roasted|}}
      {{#xs.option value=roasted}}{{roasted.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}

<button class="btn btn-danger topMarg3 pull-right btn-lg"{{action "roastBeans"}}>ROAST!</button>
</form>
