<div class="container">
  {{#each roasteds as |roasted|}}
    <h4>{{roasted.name}}</h4>
    <ul>
      <li>Kg left: {{roasted.weight}} Kg</li>
      <li>Bean used: {{roasted.greenUsed}}</li>
    </ul>
  {{/each}}
</div>
