<h1>Roast Some Beans</h1>
<form class="form-group" action="index.html" method="post">
  {{#x-select class="form-control" action="pickToRoast" as |xs|}}
    {{#each roasteds as |roasted|}}
      {{#xs.option value=roasted}}{{roasted.name}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
</form>

<button class="btn btn-info btn-xl"{{action "roastBeans"}}>ROAST!</button>
