.jumbotron {
  text-align: center;
  background-color: transparent;
  img {
    width: 12em;
  }
}

#logo {
  font-family: 'Freckle Face', cursive;
  color: brown;
  margin-top: 0;
}


.order-button {
  margin-top: 20px;
}

label {
  margin-top: 15px;
}

footer {
  text-align: center;
}
