.jumbotron {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  img {
    width: 17em;
  }
}

hr {
  border-color: white;
}

h1 {
  font-family: 'Coiny', cursive;
  color: white;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;

}

h3 {
  font-family: 'Rubik', sans-serif;
}

h4 {
  font-family: 'Varela Round', sans-serif;
  color: white;
}

li {
  list-style: none;
  font-family: 'Baloo Paaji', cursive
}

.topMarg {
  margin-top: 2.1em;
}

.centered {
  text-align: center;
}

.selectFont {
  font-family: 'Modak', cursive;
}

.topMarg2 {
  margin-top: 4.7em;
}

#roastTopMarg {
  margin-top: 4em;
}

.topMarg3 {
  margin-top: 6.6em;
}

.seperator{
	margin-top:10px;
	border: black medium solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  padding-right: 2em;
  height: 40em;
  background-color: rgba(229, 128, 13, 0.7);
}

.seperator2{
	margin-top:10px;
	border: black medium solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  padding-right: 2em;
  background-color: rgba(192, 219, 140, 0.7);
}

.seperator3{
	margin-top:10px;
	border: black medium solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  padding-right: 2em;
  background-color: #c0db8c;
  padding-left: 2em;
  background-color: rgba(192, 219, 140, 0.7);
}

.centeredFields {
  text-align: center;
}

.boldList{
  font-family: 'Metrophobic', sans-serif;
  font-size: 1.5em;
}

body {
  background-image: url(http://coffeemachineeu.com/uploads/page/2014_09/coffee-roaster.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btmMarg {
  margin-bottom: 2em;
}

#logo {
  font-family: 'Freckle Face', cursive;
  color: brown;
  margin-top: 0;
}


.order-button {
  margin-top: 20px;
}

label {
  margin-top: 15px;
}

footer {
  text-align: center;
}

form {
  label, select, input {
    display: block;
  }
}
