.jumbotron {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  img {
    width: 17em;
  }
}

h1 {

}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

h4 {
  font-family: 'Varela Round', sans-serif;
}

li {
  list-style: none;
}

.centeredFields {
  text-align: center;
}

.boldList{
  font-family: 'Metrophobic', sans-serif;
  font-size: 1.5em;
}

body {
  background-color: #e5800d;
}

.btmMarg {
  margin-bottom: 2em;
}

#logo {
  font-family: 'Freckle Face', cursive;
  color: brown;
  margin-top: 0;
}


.order-button {
  margin-top: 20px;
}

label {
  margin-top: 15px;
}

footer {
  text-align: center;
}

form {
  label, select, input {
    display: block;
  }
}
