<div class="container">
  <div class="row">
    <div class="col-md-3">
      {{create-order blends=model.blends createOrder='createOrder'}}
    </div>
    <div class="col-md-3">
      {{order-form blends=model.blends orderBlend='orderBlend'}}
    </div>
    <div class="col-md-3 form-group">
      <h1>Order More Green Beans!</h1>
      {{purchase-green greens=model.greens placeOrder="placeOrder"}}
    </div>
    <div class="col-md-3 form-group">
      {{fulfillment-form orders=model.orders fulfillOrder = 'fulfillOrder'}}
    </div>
  </div>
</div>
