<div class="container">
  <div class="row centerFields">
    <div class="col-md-6 centered seperator3">
      {{#each model.blends as |blend|}}
        {{blend-display-tile blend=blend}}
      {{/each}}
    </div>
    <div class="col-md-6 centeredFields">
      {{new-blend roasteds=model.roasteds saveBlend="saveBlend"}}
    </div>
  </div>
</div>
