<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 btmMarg">
    <h1 class="centeredFields">Welcome to the Coffee Inventory System!</h1>
    {{#link-to 'admin' class='centeredFields'}}<button class="btn btn-success order-button">Enter Admin Area</button>{{/link-to}}
  </div>
  <div class="col-sm-4">
  </div>
</div>
