{{new-roast greens=model.greens createRoast="createRoast"}}

{{#each model.roasteds as |roast|}}
  <p>{{roast.name}} - {{roast.weight}}</p>
{{/each}}

{{roast-beans roasteds=model.roasteds roastBeans="roastBeans"}}
